<div class="login-container">
  <p>login works!</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="emailUtilisateur">
    <label for="motsDePasse">Mot de passe:</label>
    <input type="password" id="motsDePasse" formControlName="motsDePasse">
    <button type="submit" [disabled]="loading">
      Se connecter
      <div *ngIf="loading" class="spinner"></div>
    </button>
  </form>
  <p *ngIf="booleanConfirmed">{{ errorMessage }}</p>
  <button *ngIf="booleanConfirmed" (click)="click()">Renvoyer le mail</button>
  <p *ngIf="loading">Chargement en cours...</p>

  <!-- Bouton Mot de passe oublié -->
  <button (click)="forgotPassword()">Mot de passe oublié</button>
</div>
