<!-- footer.component.html -->

<footer class="footer">
    <div class="reseau">
      <p><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a></p>
      <p><a href="https://www.tiktok.com/fr/" target="_blank" rel="noopener noreferrer">TikTok</a></p>
      <p><a href="https://www.facebook.com/?locale=fr_FR" target="_blank" rel="noopener noreferrer">Facebook</a></p>
      <p><a href="https://www.snapchat.com/fr-FR" target="_blank" rel="noopener noreferrer">Snapchat</a></p>
    </div>
  </footer>
  
