/* envois-mail-password.component.scss */
/* Ajoutez ici vos styles personnalisés */
div {
    margin: 200px;
}

form {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 8px;
    }

    input {
        padding: 8px;
        margin-bottom: 16px;
    }

    button {
        padding: 10px;
        cursor: pointer;
    }

    .invalid {
        border-color: red;
        /* Change the border color for invalid input */
    }

    .blue-button {
        background-color: blue;
        /* Change the background color for the button */
        color: white;
        /* Change the text color for the button */
        cursor: pointer;
        /* Add pointer cursor for better usability */
    }
}